//后台框架尺寸
//菜单宽度
$navMenu: 180px;
$navMenuMin: 64px;
$layoutHeader: 75px;
//主颜色
$mainColor: #f56c6c;

@mixin webkit($tyle,$value) {
    -webkit-#{$tyle}: $value;
    -moz-#{$tyle}: $value;
    -o-#{$tyle}: $value;
    -ms-#{$tyle}: $value;
    #{$tyle}: $value
}

@mixin labelDom($align,$width,$line-height:"normal") {
    label {
        float: left;
        width: $width;
        text-align: $align;
        line-height: $line-height;
      }
      .wrap-content {
        margin-left: $width;
      }
}