.el-submenu .el-menu-item{
    font-size: 14px;
    padding-left: 49px !important;
    &.is-active{background-color: rgba($color: $mainColor, $alpha: 0.2) !important;}
}
//修改一级菜单样式
.el-submenu {
    &.is-active.is-opened .el-submenu__title{
        background-color: $mainColor !important;
    }
}
.close {
    .el-submenu {
      &.is-opened{
        > .el-submenu__title{
          background-color: $mainColor !important;
        }
      }
    }
}
.el-menu--vertical{
    .el-menu{
        background-color: #344a5f !important;
    }
    .el-menu-item{
        line-height: 56px;
    }
    .el-menu-item:hover{
        background-color: $mainColor !important;
    }
}
.el-col {
    min-height: 1px
  }
/*table 样式*/
.el-table{
    th,td{ text-align: center; }
    th{
        color: #344a5f;
        font-weight: bold;
    }
    td{
        font-size: 14px;
    }
}
/* dialog 样式*/
.el-dialog__body{
    padding: 30px 47px !important;
}
.el-dialog__footer{
    text-align: center;
    padding-bottom: 50px !important;
    .el-button{
        width: 150px;
        margin: 0 11px;
    }
}

.el-form{
    .el-form-item:last-child{
        margin-bottom: 0 !important;
    }
}

.el-button + .el-button{
    margin-left: 7px !important;
}